<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="enterUsername()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Enter your Nickname</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Select your language</ion-label>
        <ion-select value="en" ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="language" name="language" required>
          <ion-select-option *ngFor="let lang of supportedLanguages" [value]="lang.language">{{lang.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button size="default" color="secondary" expand="block" type="submit">Enter</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
