<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="enterUsername()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Enter your Nickname</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button size="default" color="secondary" expand="block" type="submit">Enter</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
