<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="room"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{roomName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="exit()">
        <ion-icon size="large" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-border>
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <ion-label>
        <div class="status" text-center *ngIf="msg.type==='JOIN'||msg.type==='LEAVE';else message">
          <span class="date">{{msg.sendDate | relativeTime}}</span>
          <span class="content-center">{{msg.message}}</span>
        </div>
      </ion-label>
      <ng-template #message>
        <div class="message-wrap">
          <div
            class="message"
            [class.left]="msg.user !== chatService.username"
            [class.right]="msg.user === chatService.username">
            <img class="user-img" src="assets/guy1.png">
            <div class="msg-detail">
              <div class="msg-info">
                <p>
                  {{msg.user}}&nbsp;&nbsp;&nbsp;{{msg.sendDate | relativeTime}}</p>
              </div>
              <div class="msg-content">
                <span class="triangle"></span>
                <p class="line-breaker">{{msg.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <ion-button fill="clear" icon-only item-right (click)="toggleEmojiPicker()">
      <ion-icon name="happy"></ion-icon>
    </ion-button>
    <ion-textarea #messageInput type="text" placeholder="Type a message" [(ngModel)]="message" name="message"
                  (keyup.enter)="sendMessage()" (focusin)="onFocus()"></ion-textarea>
    <ion-button fill="clear" icon-only item-right (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
  <emoji-picker [(ngModel)]="message"></emoji-picker>
</ion-footer>
